* {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}
md-toolbar:not(.md-menu-toolbar) {
  background-color: #009321;
}
md-input-container {
  margin: 10px 0;

  &.bottom-input {
    margin-bottom: 0;
  }
}
md-input-container:not(md-input-invalid).md-input-focused {
  .md-input, label{
    border-color: #009321 !important;
    color: #009321 !important;
  }
}
.md-48 {
  height: 48px;
  width: 48px;
}
.text-center {
  text-align: center
}
.padded-card {
  padding: 20px;
}
